/out/production/NovidadesJava11/ClientHttpExemplo$1.class
/out/production/NovidadesJava11/ClientHttpExemplo.class
/out/production/NovidadesJava11/CollectionExamplo.class
/out/production/NovidadesJava11/InferenciaLambda.class
/out/production/NovidadesJava11/StringIsBlankExemplo.class
/out/production/NovidadesJava11/StringLinesExemplo.class
/out/production/NovidadesJava11/StringRepeat.class
